.Team{
    height: 100%;
    margin: 8rem 6rem;
    display: flex;
    /* flex-direction: column;
    justify-content: space-between; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Team-div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem ;
    
}
.Upper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    width: 100%;
}
.heading{
    font-weight: 700;
    font-size: 3.5rem;
    color: #55B4F3;
}

.desc{
    font-size: 1.9rem;
    font-weight: 400;

}
.Team-Sec{
    display: flex;
    flex-wrap: wrap;
    
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    flex-direction: column;
    flex-wrap: wrap;
}


.shape{
    height: 25rem;
    /* width: 24rem; */
    width: 100%;
    position: relative;
    overflow: hidden;
    
    float: left;
   
    border-radius: 25px;
}
.image{
height: 100%; 
width: 100%;
 /* transform: scale(1.43) translateY(4.19rem);  */
transition: all .2s;
overflow: hidden;
object-fit: cover;


}
.designation{
    text-transform: capitalize!important;
    /* color: black; */
    text-align: center!important;
    margin-top: 0.5rem!important;
    font-size: 1.8rem;
    font-weight: 500
}
.name{
    /* font-family: Open Sans,sans-serif; */
    text-transform: capitalize!important;
    color: #55B4F3;
    text-align: center!important;
    margin-top: 0.5rem!important;
    font-size: 2.1rem;
    font-weight: 600;
}
.About-btn{
    margin-top: 4rem;
}
.btn{
    background: #0B3253;
    border: 2px solid #55B4F3;
    padding: 8px 20px 8px 20px;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all .5s ;
    border-radius: 6px;
}
.btn:hover{
    background: #55B4F3;
    color: #0B3253;
}

@media (min-width: 768px){
    .card{
        flex: 0 0 auto;
    width: 25%;
    }
    .Team-div{
        gap: 3rem;
    }
}
@media (max-width: 550px){
    .card{
        width: 50%;
    }
}

