.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.Header-div{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}
.main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #55b4f3;
    font-weight: 700;
    /* font-family: "Poppins"; */
    font-size: 4.4rem;
    margin-bottom: 1rem;
}

.description{
    font-weight: 500;
    font-size: 1.8rem;
    width: 80%;
    text-align: center;
}