.Header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.Header-div{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}
.main-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #55b4f3;
    font-weight: 700;
    /* font-family: "Poppins"; */
    font-size: 4.4rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.description{
    font-weight: 500;
    font-size: 1.8rem;
    width: 80%;
    text-align: center;
}
.About{
    height: 80vh;
}
.About-div{
    display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.About-img{
    display: block!important; 
    flex: 0 0 auto;
    width: 50%;
}
.img{

}
.About-main{

}
.About-heading{

}
.About-des{

}
.About-btn{

}

@media  (max-width:680px){ 
    .main-heading{
        font-size: 3.8rem;
    }
    }
@media  (max-width:540px){ 
    .main-heading{
        font-size: 3.4rem;
    }
    }