.img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 7rem;
    
    width: auto;
}
.button{
font-weight: 700;
}

@media  (max-width:850px) {

.bar{
padding-left: 0;
padding-right: 0;
}
.button{
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    font-size: 1.3rem;
}
.container{
    padding-left: 1.6rem;
    padding-right: 1.4rem;
}
}
@media  (max-width:450px) {
    .button{
        min-width: 50px;
    }
    .container{
        padding-left: 1.2rem;
        padding-right: 1rem;
    }
}