.Footer{
    height: 45vh;
    background-color: #021529;
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
   
    justify-content: space-around;
    flex-direction: column;
    /* background-color: #0f416b; */
}
.Upper{
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
}
.img{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 7rem;
    
    width: auto;
}
.social{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.image{
    height: 5.5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.line-div{
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    background-color: lightgray;
    height: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Lower{
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.Lower-link{
    width: 30%;
    display: flex;
    justify-content: space-between;
}