.Footer{
    height: 45vh;
    background-color: #021529;
    padding-top: 3rem;
    padding-bottom: 2rem;
    display: flex;
   
    justify-content: space-around;
    flex-direction: column;
    /* background-color: #0f416b; */
}

.Menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Upper{
    display: flex;
    justify-content: space-between;
    margin-left: 4rem;
    margin-right: 4rem;
}



.social{
    display: flex;
    align-items: center ;
    justify-content: space-between;
}
.image{
    height: 6rem;
    width: 5.5rem;
    display: flex;
    align-items: center;
    justify-content: center ;
}
.line-div{
    margin-left: 4rem;
    margin-right: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line{
    background-color: lightgray;
    height: 2px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.Lower{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -3rem;
}

.link{
    color: gray;
    text-decoration: underline;
    font-size: 1.4rem;
    cursor: pointer;
   
}
.Lower-link{
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



@media (max-width:580px){ 
.Upper{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.social{
    justify-content: center;
}
}
